section.Welcomescreen {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
}

h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 40px;
  text-align: center;
  margin: 20px;
}

h1.time {
  display: block;
}

p.text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 40px;
  font-size: 25px;
}

button#generate.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

div.card-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

h1.time {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  margin: 60px;
}

div#answerChoices {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40px;
  padding: 20px;
}

button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(36, 144, 144);
  font-weight: bold;
  font-size: 30px;
  border: black 1px solid;
}

h1#timer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

div#scores {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
}

div#correct {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px;
  color: rgb(36, 144, 144);
}

div#endScreen {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  padding: 20px;
  margin: 0px;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
}

label {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(0, 0, 0);
  color: rgb(36, 144, 144);
  font-weight: bold;
  font-size: 30px;
}

section#highScoresScreen {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
}

div#scores {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

button#buttonGoBack {
  flex-direction: row;
  justify-content: center;
}

body {
  display: block;
}