/* * {
  background-color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: medium;
  display: flex;
  flex-direction: row;
  justify-content: center;
} */

section.Welcomescreen {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 40px;
}

h1.time {
  display: block;
}